<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>XStore | Contacto</title>
    <link rel="stylesheet" href="/css/contacto.css">
</head>
<body>

    <nav>
        <a href="/">INICIO</a>
        <a href="/contacto">CONTACTO</a>
    </nav>

    <div class="container">
        <h1>Contacta a XStore</h1>
        <p>¿Tienes dudas con un juego o tu pedido? Escríbenos.</p>
        <form>
            <input type="text" placeholder="Tu Nombre" required>
            <input type="email" placeholder="Tu Correo Electrónico" required>
            <textarea rows="5" placeholder="¿En qué te podemos ayudar?" required></textarea>
            <button type="submit">Enviar Mensaje</button>
        </form>
    </div>

</body>
</html>